{% extends 'doctor/base.html' %}
{% load static %}
{% block doctorbase %}


<div class="container">

  <h1 style="font-family:'Ubuntu';font-size: 3rem;text-align: center; color: rgb(92, 46, 13); ">My Profile </h1>
  
    <button class="edit-option-buttons" style="font-size: 18px; float: right;">
      <a href="{% url 'doctor:editdoctorprofile' %}"> Edit your profile </a>
    </button>
</div>
    <div class="container"  id="main-content" style=" width: 100%; margin-left: 170px;">
  <div class="row my-5">
    <div class="col-3 text-center" style=" background-color:#f5f1da;">
      <img class="profile-photo" src="{{ profile.Profile_pic.url }}" alt="">
      <div class="row my-3 align-items-center">
        <div class="col-6">
          <div class="profile-field">
            <b>NAME:</b>
          </div>
        </div>
        <div class="col-6">
          <div class="profile-content">
            {{profile.name }}
          </div>
        </div>
      </div>
      <div class="row my-3 align-items-center">
        <div class="col-6">
          <div class="profile-content">
            <b>PHONE:</b>
          </div>
        </div>
        <div class="col-6">
          <div class="profile-content">
            {{profile.phone}}
          </div>
        </div>
      </div>
      <div class="row my-3 align-items-center">
        <div class="col-6">
          <div class="profile-content">
            <b>GENDER: </b>
          </div>
        </div>
        <div class="col-6">
          <div class="profile-content">
            {{profile.Gender}}
          </div>
        </div>
      </div>
     
    </div>
    <div class="col-4 text-center" style="background-color:#f5f1da;">
      <div class="row my-3 align-items-center">
        <div class="col-6">
          <div class="profile-content">
            <b>SPECIALISATION:</b>
          </div>
        </div>
        <div class="col-6">
          <div class="profile-content">
            {{profile.Specialisation}}
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>CITY: </b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.City}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>REG. NUMBER:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.Registration_Number}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>REG. COUNCIL</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.Registration_Council}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>REG. YEAR:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.Registration_year}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>DEGREE:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.Degree}}
        </div>
      </div>
      
    </div>
    <div class="col-5 text-center" style="background-color:#f5f1da;" >
      
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>COLLEGE: </b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.College}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>YEAR OF COMPLETION</b>
        </div>
        <div class="col-lg-6 profile-content">
        {{profile.Year_of_completion}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>MEDICAL REG. PROOF</b>
        </div>
        <div class="col-lg-6 profile-content">
          <div class="container">
            <button class="edit-option-buttons" style="font-size: 18px; float: right;">
              <a href="#"> Preview </a>
            </button>
          </div>
          {{profile.Medical_registration_proof}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>CURRENT PLACE OF WORK:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.Current_place_of_work}}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-6 profile-content">
          <b>AADHAR NUMBER:</b>
        </div>
        <div class="col-lg-6 profile-content">
          {{profile.Aadhar_Number}}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
